# Общие файлы и папки .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.idea/
.vs/
.vscode/

# Конфигурации и временные файлы
*.tmp
*.log
*.db
*.DS_Store

# Секреты
.env

# Каталоги с данными и логами
logs/
data/
.dotnet/
dotnet-install.sh

# Прочее
/TestResults/
/coverage/
.tools/
